@use '../scss_modules/styles';

.heading{
    width:90%;
}

.collection-form{
    @include styles.flex-center;  
    flex-direction: column;   
}

.collection-form-form{
    @include styles.flex-center;   
    width: 100%; 
}

$form-width:30%;

.form{
    @include styles.flex-center;
    flex-direction: column;      
    margin:5px 25px 5px;  
    width:$form-width;
}
.collection-input{
    width:100%;    
    input{
        width: 98%;
        font-size: large;
        text-align: center;
    }    
    margin: 5px 0px 25px;
}
.card-form{
    width:100%;
    margin: 5px 0px 25px;
}
.cards{    
    display: flex;    
    flex-wrap: wrap;   
    align-content: flex-start; 
    width: 100% - $form-width;
    height: 600px;
    overflow: auto;   
    margin:5px 25px 5px;   
}

$card-height:80%;

.card-holder{
    // display: flex;
    background: grey;
    @include styles.sameWidthHeight(275px);    
    padding:5px;
    margin:5px 5px 5px;
    .card{
        height: $card-height;        
    }
    .card-buttons{
        @include styles.flex-center;
        justify-content: space-evenly;
        margin:5px 2px 5px;
        height: 100% - $card-height;
    }
}

.remove-all-button{
    position: absolute;
    right: 25px;
    top:150px;
}

.error-holder{    
}

$button-color:rgb(18, 128, 100);
$button-text-color:rgb(203, 218, 195);
.collection-button{
    width:250px;
    height: 50px;
    font-size: large;
    font-weight: 800;
    background: $button-color;
    color:$button-text-color;
    text-shadow: -1px 1px 2px black;
    box-shadow: -1px 1px 3px #040616;
    margin: 25px 0px 5px;
}
.collection-button:hover{
    background: $button-text-color;
    color:$button-color;
    text-shadow: none;
}